{% extends 'products/base.html' %}
{% load static %}
{% block mycontent %}
<div class=""> 
<div class="card" style="width: 18rem; display: inline-block;">
    <img src="{% static 'products/images/'|add:product.img %}" 
       width="400" height="400"
       class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">ID: {{product.id}}</h5>
        <h5 class="card-title">Product Name: {{product.name}}</h5>
        <h5 class="card-title">Product Price: {{product.price}}</h5>
        <h5 class="card-title">Product Description: {{product.description}}</h5>
        <h5 class="card-title">Number of items: {{product.number_of_items}}</h5>
         <a href="{% url 'productstest' %}" class="btn btn-success">Back To Home</a>
       </div>
     </div>
</div>
{% endblock %}